<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1cp-S8VrUMFp9NrmiL9TAMIgJnZ8KVEE</string>
	<key>GCM_SENDER_ID</key>
	<string>892419921668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calma.calma</string>
	<key>PROJECT_ID</key>
	<string>calma-eda26</string>
	<key>STORAGE_BUCKET</key>
	<string>calma-eda26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892419921668:ios:71d8e997660dc304e52251</string>
</dict>
</plist>